.job-posting-tables {
  display: flex;
  flex-direction: row;
  color: black;
  align-items: flex-start;
  border-style: solid;
  border: 1px solid rgba(224, 224, 224, 1);
  border-width: 1px;
  column-gap: 16px;
  background: #fff;
}

.jobs-posting-tabsContainer .MuiTabs-scroller {
  position: relative;
  display: flex;
  width: auto;
  align-items: center;
  gap: 0px;
  border-radius: 0px;
}

.job-status {
  display: inline-flex;
  height: fit-content;
  padding-left: 24px;
  padding-top: 41px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 0px;
  background: #fff;
  cursor: pointer;
}

.clickable-text {
  align-items: center;
  color: black;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
}
.tableData {
  overflow-y: auto;
  overflow-x: scroll;
  padding-top: 14px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  background: #fff;
  width: auto;
  margin-left: 31px;
}

.selected-text {
  color: #14a800;
}

.tableData .MuiDataGrid-cellContent {
  display: flex;
  height: 72px;
  align-items:center;
  text-align: center;
  gap: 0px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  padding-left: 5px;
}

.data-grid-row--items {
  align-items: center;
  text-align: center;
  padding-left: 5px;
  color: rgba(0, 0, 0, 0.6);
}

.tableData .MuiDataGrid-columnHeader {
  display: flex;
  width: 611px;
  padding: 0px;
  align-items: center;
  gap: 51px;
  border-radius: 0px;
  font-size: 14px;
  font-style: bolder;
  font-weight: 500;
  line-height: 155%;
  color: rgba(0, 0, 0, 0.87);
}

.tableData .MuiDataGrid-columnHeaderTitle {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 155%;
}

.tableData .MuiDataGrid-autoHeight {
  position: relative;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  outline: none;
}

.tableData .MuiDataGrid-root {
  border: none;
}

#switchJobPosting {
  padding-left: 0px;
}

@media (min-width: 1024px) {
  .jobs-posting-tabsContainer .MuiTabs-scroller {
    width: 818px;
    padding-left: 218px;
  }
  .tableData {
    width: 633px;
  }
}
