.schip {
  font-size: 11px;
  border: 1px solid #ebebeb;
  background-color: #ebebeb;
  padding: 3px 10px;
  margin-right: 8px;
  border-radius: 100px;
  margin-bottom: 8px;
}
.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 314px;
}
