.coder-detail-box {
  display: flex;
  column-gap: 14px;
  padding: 20px;
  border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
}

.coder-detail-last-box {
  display: flex;
  column-gap: 14px;
  padding: 20px 20px 10px 20px;
}

.icon-container svg {
  height: 16px;
  width: 16px;
  color: rgba(0, 0, 0, 0.38);
}

.icon-container--box {
  display: flex;
  column-gap: 4px;
  align-items: center;
  color: rgba(0, 0, 0, 0.38);
}

.client-dashboard--cdc-box {
  width: 32px;
  height: 32px;
}

.client-dashboard--cdc-box  img {
  width: 100%;
  height: 100%;
}
