.grid-container {
  row-gap: 24px !important;
  margin-bottom: 40px;
}

.handle-btn {
  display: flex;
  column-gap:20px;
  justify-content: end;
  column-gap: 16px;
}
.handle-btn-coder {
  display: flex;
  column-gap:20px;
  justify-content: end;
  column-gap: 16px;
  width: 100%;
}
