.coder-dashboard--job-detail-card {
  border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
}

.coder-dashboard--decline-button {
  color: #d32f2f !important;
  margin-right: 8px !important;
}

.coder-dashboard--decline-button:hover {
  background-color: transparent;
}

.coder-dashboard--job-detail-cursor{
  cursor: pointer;
}
.coder-dashboard--apply-button {
  color: #14a800 !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  line-height: 22px !important;
  border-radius: 103px !important;
  padding: 6px 16px !important;
  word-wrap: break-word;
}

.coder-job-detail--description {
  width: auto;
}

.coder-dashboard-job-detail--skill-chip {
  padding: 3px 10px !important;
  border-radius: 100px !important;
}

.coder-dashboard-job-detail--skill-chip span {
  font-size: 11px !important;
  line-height: 18px !important;
  font-weight: 400 !important;
  padding: 0px !important;
}

.coder-dashboard--timer-svg {
  display: flex;
  align-items: end;
}

.coder-dashboard--timer-svg svg {
  color: rgba(0, 0, 0, 0.38) !important; 
}


@media (min-width: 768px){
  .coder-job-detail--description{
    width: 567px;
  }
}