.dialog-box-container {
  display: inline-flex;
  justify-content: center;
  align-content: center;
}
.dialog-box-heading {
  text-align: center;
  font-size: 24px !important;
  font-weight: 400 !important;
}
.dialog-box-desc {
  text-align: center;
  color: var(--text-secondary, rgba(0, 0, 0, 0.6));
  width: 238.17773px;
}
.desc-container {
  text-align: -webkit-center;
  margin-top: 12px;
}
.dialog-box-button {
  color: #ffffff !important;
  width: 368px !important;
  padding: 8px 109px !important;
}
.check-outlined-container {
  border-radius: 141.314px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.3px solid rgba(0, 0, 0, 0.23) ;
  width: 40px;
  height: 40px;
  margin-bottom: 24px;
}
.check-outlined{
  color: #14A800;
}
