.degree-section-header {
  display: flex;
  justify-content: space-between;
}

.c-btn {
  border: 1px solid #14a800 !important;
  padding-inline: 20px !important;
  line-height: 26px !important;
  font-size: 15px !important;
}
.back---btn {
  background-color: transparent !important;
  border: 1px solid #14a800 !important;
  padding: 8px 22px !important;
  height: 40px !important;
}
.s-btn {
  padding-inline: 20px !important;
  border: 1px solid #14a800 !important;
  margin-left: 16px !important;
  background-color: #14a800 !important;
  color: white !important;
  line-height: 26px !important;
  font-size: 15px !important;
}
.next-btn {
  padding-inline: 20px !important;
  border: 1px solid #14a800 !important;
  margin-left: 16px !important;
  box-shadow: none !important;
  background-color: #14a800 !important;
  color: white !important;
}
.upload-btn {
  background-color: #ffff !important;
  box-shadow: none !important;
  color: #14a800 !important;
  padding-left: 0 !important;
  margin-right: 30px !important;
}
.upload-btn svg {
  height: 20px;
  width: 20px;
}
.resume-list {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.cancel-icon {
  cursor: pointer;
  fill: rgba(0, 0, 0, 0.38) !important;
}

.education-delete-icon {
  font-size: 13px;
  border: 1px solid #d32f2f;
  color: #d32f2f;
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
  margin-left: 8px;
}

.education-edit-icon {
  font-size: 13px;
  border: 1px solid #bcbcbc;
  color: #7a7a7a;
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
}

.education-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 20px 30px;
  margin-top: 24px;
  border-radius: 4px;
  margin-left: 16px;
  margin-bottom: 24px;
}

.upload-input-file {
  display: none !important;
}
.pdf-icon {
  color: rgba(0, 0, 0, 0.56) !important;
  margin-right: 12px;
}

.list-item {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.passing-year-select-field {
  text-align: start;
}
.passing-year-select-field .css-xx540 {
  margin-bottom: 0;
}
.passing-year-coder-label .MuiFormLabel-root {
  color: #acacac;
}
.passing-year-select-field .MuiFormLabel-root.Mui-focused {
  padding: 0;
  color: #000;
  border-color: #14a800;
}
.custom-dropdown-menu {
  height: 200px;
}
.custom-focused-label{
  color: #14a800;
}
.completion-year-select-field{
  text-align: start;
}
