.address-field--section {
  display: flex;
  width: 100%;
  column-gap: 32px;
}
.address-field--section-left,
.address-field--section-right {
  width: 368px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.address-heading {
  font-size: 20px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 29px !important;
}
.address-field--wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
