.proposal-list--side-nav-box {
  background-color: white;
}

.proposal-list--container-box {
  padding: 47px 90px 30px 30px;
}

.proposal-list--job-headline-box {
  padding: 24px 0px 10px 24px;
  text-align: start;
}
